<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.com"
      th:fragment="layout(content)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roshan Portfolio</title>
    <link rel="stylesheet" th:href="@{/css/blog/blog.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
<header>
    <nav>
        <div class="left">Roshan's Portfolio</div>
        <div class="right">
            <ul>
                <li>  <a class="active" href="/">Home</a> </li>
                <li><a href="/about">About</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </nav>
</header>
<div class="container">
    <h2> Unveiling Insights: Your Journey Awaits! </h2>
    <div class="blog-grid">
        <div class="blog-card">
            <img src="/Images/blog/blog_pg1.png" alt="Image 1">
            <h3>Java</h3>
            <p>Java, the powerhouse of modern software development, empowering innovation and scalability with its robust platform.</p>
        </div>
        <div class="blog-card">
            <img src="/Images/blog/blog_pg2.png" alt="Image 2">
            <h3>Azure DevOps</h3>
            <p>Azure DevOps, the ultimate collaboration hub for modern software development teams, seamlessly integrating workflows from planning to deployment.</p>
        </div>
        <div class="blog-card">
            <img src="/Images/blog/blog_pg3.png" alt="Image 3">
            <h3>Spring</h3>
            <p>Spring Framework: Revolutionizing Java development with its comprehensive suite of tools and libraries, simplifying enterprise-grade application development and deployment.</p>
        </div>
        <div class="blog-card">
            <img src="/Images/blog/blog_pg4.png" alt="Image 4">
            <h3>Microsoft Azure</h3>
            <p>Microsoft Azure: Your gateway to the cloud, offering a vast array of scalable and secure services to drive innovation and transformation.</p>
        </div>
        <div class="blog-card">
            <img src="/Images/blog/blog_pg5.png" alt="Image 5">
            <h3>Azure Functions</h3>
            <p>Azure Functions: Unleash the power of serverless computing with seamless scalability and minimal overhead, empowering rapid development and deployment of event-driven applications.</p>
        </div>
        <div class="blog-card">
            <img src="/Images/blog/blog_pg6.png" alt="Image 6">
            <h3>Azure Synapse Analytics</h3>
            <p>
                Azure Synapse Analytics is a cloud-based analytics service provided by Microsoft Azure. It combines big data and data warehousing capabilities into a single platform. </p>
        </div>
    </div>
</div>
<footer>
    <p>&copy; 2024 Your Portfolio Website</p>
</footer>
</body>
</html>