<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.com"
      th:fragment="layout(content)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roshan Portfolio</title>
    <link rel="stylesheet" th:href="@{/home.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
<header>
    <nav>
        <div class="left">Roshan's Portfolio</div>
        <div class="right">
            <ul>
                <li>  <a class="active" href="/">Home</a> </li>
                <li><a href="/about">About</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <section class="firstSection">
        <div class="leftSection">
            Hi , Myself <span class="purple">Roshan Choudhary</span>
            and I am a
            <span id="element"></span>
            <span>
            <div class="buttons">
                <a href="https://www.linkedin.com/in/roshanchoudhary/" style="text-decoration: none; color: white;"> <div class="btn1">LinkedIn</div></a>
                    <a href="https://github.com/Prathammishra21" style="text-decoration: none; color: white;"><div class="btn2">Github</div></a>
            </div>
            </span>
        </div>

        <div class="rightSection">

        </div>
    </section>
</main>
<script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>">
<script>
    var typed = new Typed('#element', {
      strings: ['Full Stack Engineer.'],
      typeSpeed: 50,
    });
</script>
</body>
</html>