<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.com"
      th:fragment="layout(content)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roshan Portfolio</title>
    <link rel="stylesheet" th:href="@{/css/service/service.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
<header>
    <nav>
        <div class="left">Roshan's Portfolio</div>
        <div class="right">
            <ul>
                <li>  <a class="active" href="/">Home</a> </li>
                <li><a href="/about">About</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </nav>
</header>

<div class="header1">
    <h1>Work Experience</h1>
</div>

<section class="experiences">
    <div class="experience">
        <h2>Senior Software Engineer</h2>
        <h4>(Lionbridge Technologies)</h4>
        <p>September,2008- July,2012</p>
        <p>As a senior software engineer, I orchestrated intricate code,
            Navigating through algorithms with precision, I strode.
        </p>
    </div>
    </div>
    <div class="experience">
        <h2>Computer Programmer Analyst</h2>
        <h4>(Hexaware Technologies Inc)</h4>
        <p>July,2012- September2016</p>
        <p>As a computer programmer analyst , I crafted code with finesse.
            My solutions streamlined operations, enhancing efficiency.</p>
    </div>
    <div class="experience">
        <h2>Senior Software Engineer</h2>
        <h4>(Deutsche Bank)</h4>
        <p>September,2016- Febuary,2022</p>
        <p> As a senior software engineer , I architected robust financial systems,
            Navigating complex regulations and markets with precision, my expertise shone.</p>
    </div>
    <div class="experience">
        <h2>Sr. Full Stack Engineer</h2>
        <h4>(MetLife)</h4>
        <p>Febuary,2022- Present(2 yr 2 mon)</p>
        <p>As a senior full stack engineer, I orchestrated seamless integration of front and back-end,
            Leveraging a diverse skill set to deliver  user-centric solutions.
        </p>
    </div>
</section>

<div class="header2">
    <h1>License and Certifications</h1>
</div>

<section class="experiences">
    <div class="experience">
        <h2> Web Component Developer</h2>
        <h4>(Oracle)</h4>
        <p>December,2013</p>
        <p>I've demonstrated mastery in Java EE .
            With this certification, I validate my proficiency in creating dynamic and interactive web applications.
        </p>
    </div>
    </div>
    <div class="experience">
        <h2>Oracle Certified Java Professional</h2>
        <h4>(Oracle)</h4>
        <p>September2013</p>
        <p>Java Professional status signifies my expertise in Java programming.
            This solidifies my capability to develop robust Java applications.
        </p>
    </div>

</section>

<footer>
    <p>&copy; 2024 Your Portfolio Website</p>
</footer>
</body>
</html>