* {
    margin: 0;
    padding: 0;
}

body, html {
    background-color: rgb(255, 255, 255);
    color: rgb(71, 67, 67);
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background-image: url('/Images/home/home.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: rgb(102, 102, 161);
    padding: 0 5%;
}

nav .left {
    color: white;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-left: 60px;
    color: white;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    color: rgb(176, 176, 230);
    font-size: 1.08rem;
}

nav ul li:first-child {
    margin-left: 0;
}

.left {
    font-size: 1.6rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    margin: 160px 0;
    align-items: center;
}

.firstSection > div {
    width: 30%;
}

.leftSection {
    font-size: 3rem;
}
.leftSection .buttons {
    display: flex; /* Display the buttons in a row */
}

.leftSection .btn1,.btn2{
   padding: 10px 20px;
   margin-top: 20px;
   background: #668bc0;
   color: white;
   border: 1.5px solid rgb(0, 0, 0);
   text-decoration: none;
   font-size: 17px;
   cursor: pointer;
   text-align: center;
   width: 80%;
}

.btn2 {
    margin-left: 50%;
}

.leftSection .btn1:hover{
   transition: transform 0.2s ease-in-out;
   box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
   transform: translateY(-4px);
}

.leftSection .btn2:hover{
    transition: transform 0.2s ease-in-out;
   box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
   transform: translateY(-4px);
}

.rightSection img{
    width: 80%;
    height: 50%;
}

.purple{
    color: rgb(179, 138, 218);
}

#element{
    color: rgb(179, 138, 218);
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 35px ;
}